.budget-section {
    display: flex;
    justify-content: center;
    padding-block: 78px;

    .budget-content {
        text-align: center;

        h1 {
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            margin-bottom: 17px;
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: $gray;
            margin-bottom: 36px;
        }

        button {
            padding: 12px 32px;
            background-color: transparent;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
                background-color: $black;
                color: $white;
                border-color: $black;
            }
        }
    }

    @include responsive(600px) {
        padding-block: 40px;

        .budget-content {
            h1 {
                font-size: 24px;
                line-height: 29px;
            }

            p {
                font-size: 14px;
                line-height: 140%;
            }

            button {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
