footer.bg {
    background-color: $background;
}

.footer-section {
    display: flex;
    gap: 69px;
    padding-block: 90px;
    flex-wrap: wrap;
    .logo {
        img {
            cursor: pointer;
        }
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        gap: 115px;

        li {
            strong {
                font-size: 18px;
                line-height: 22px;
                display: inline-block;
                margin-bottom: 21px;
            }

            a {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 16px;
                width: max-content;
                transition: color 0.2s;
                &:hover {
                    color: #d17505;
                }
            }
        }
    }

    @include responsive(840px) {
        .logo {
            display: none;
        }
    }

    @include responsive(600px) {
        padding-block: 40px;

        .links {
            gap: 67px;

            li {
                strong {
                    font-size: 16px;
                    line-height: 17px;
                    margin-bottom: 16px;
                }

                a {
                    font-size: 14px;
                    line-height: 15px;
                    margin-bottom: 14px;
                }
            }
        }
    }
}
