.gallery-section.bg {
    background-color: $background;
    margin: 0;
}

.gallery-section {
    margin: 0 auto;

    .gallery-description {
        max-width: 770px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 32px;
        padding-top: 55px;

        h1 {
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            margin-bottom: 19px;
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: $gray;
        }
    }
    .swiper.gallery-swiper {
        overflow-x: hidden;
        .swiper-wrapper {
            max-height: 610px;
            height: 100%;
        }
        .swiper-pagination {
            bottom: 1px;
            left: -6px;
            width: auto;
            padding: 20px;
            position: relative;
            display: flex;
            justify-content: center;

            justify-content: center;
            .swiper-pagination-bullet {
                width: 30px;
                height: 30px;
                &-active {
                    background-color: $black;
                }
            }
        }
    }
    @include responsive(600px) {
        .gallery-description {
            h1 {
                font-size: 24px;
                line-height: 29px;
            }

            p {
                font-size: 14px;
                line-height: 140%;
            }
        }
        .swiper.gallery-swiper {
            .swiper-pagination {
                .swiper-pagination-bullet {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

