header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .logo {
        cursor: pointer;
    }

    .menu {
        display: flex;

        .links {
            display: flex;
            gap: 48px;
            margin-right: 56px;

            li {
                a {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    padding: 10px 12px;
                    transition: all 0.4s;

                    &:hover {
                        color: #996f4c;
                        transform: scale(1.1);
                        transform: translateY(-3px);
                    }
                }
            }
        }

        .links-icones {
            display: flex;
            align-items: center;
            gap: 32px;

            li {
                padding: 8px 10px;
                cursor: pointer;

                &:hover svg {
                    transform: scale(1.1);
                    transform: translateY(-3px);

                    path {
                        stroke: #5a5959;
                    }
                }

                svg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.4s;
                }
            }
        }

        .menu-mobile {
            display: none;
            cursor: pointer;
            padding: 9px 10px;
            position: relative;
        }

        .links-mobile {
            position: absolute;
            top: 62px;
            right: 25px;
            padding: 20px 16px;
            background-color: $black;
            transform: translateY(-20px);
            transition: all cubic-bezier(0.08, 0.8, 0.8, 0.68);
            opacity: 0;
            pointer-events: none;
            transition: all 0.5s;

            .links-ul {
                display: flex;
                flex-direction: column;
                gap: 17px;
                padding-left: 8px;
            }

            &.active {
                opacity: 1;
                pointer-events: all;
                transform: translateY(0px);
                display: flex;
                gap: 17px;
                flex-direction: column-reverse;
                z-index: 2;

                a {
                    color: $white;
                }

                .links-icones {
                    flex-direction: row;
                    gap: 8px;

                    li {
                        svg {
                            path {
                                stroke: $white;
                            }
                        }
                    }
                }
            }

            &::after {
                content: "";
                position: absolute;
                transform: rotate(45deg);
                top: -4px;
                right: 20px;
                width: 10px;
                height: 10px;
                background-color: $black;
            }
        }
    }

    @include responsive(920px) {
        height: 72px;

        .logo {
            img {
                width: 121px;
            }
        }

        .menu {
            gap: 50px;

            .links {
                display: none;
            }

            .menu-mobile {
                display: flex;
                align-items: center;
            }
        }
    }
}
