.home-section.bg {
    background-color: $background;

    .home-section {
        animation: fadeIn 0.8s forwards;
        display: flex;
        gap: 68px;

        .home-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 499px;

            h1 {
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 49px;
                margin-bottom: 16px;
            }

            p {
                color: $gray;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                margin-bottom: 32px;
            }

            .home-links {
                display: flex;
                align-items: center;
                gap: 40px;

                button {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: $white;
                    max-width: 225px;
                    width: 100%;
                    background-color: $black;
                    border: none;
                    padding: 12px 32px;
                    transition: background-color 0.4s;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                }

                a {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    text-decoration: underline;
                    padding: 10px 12px;
                    transition: color 0.3s;
                    &:hover {
                        color: #7a572d;
                    }
                }
            }
        }
    }

    @include responsive(1120px) {
        .home-section {
            justify-content: center;
            padding-block: 40px;

            .home-image {
                display: none;
                align-self: center;
            }

            .container {
                margin: 0;
                width: 100%;
            }
        }
    }

    @include responsive(600px) {
        .home-section {
            padding-bottom: 20px;
            .home-main {
                h1 {
                    font-size: 24px;
                    line-height: 29px;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                }

                .home-links {
                    flex-direction: column;
                    gap: 15px;
                    align-items: flex-start;
                    button {
                        padding: 10px 18px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
